@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222 47% 11%;

    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;

    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;

    /* Azul Chegô */
    --primary: 214 67% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 210 40% 96%;
    --secondary-foreground: 214 67% 9%;

    --muted: 210 40% 96%;
    --muted-foreground: 215 16% 47%;

    --accent: 210 40% 94%;
    --accent-foreground: 214 67% 9%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 214 67% 9%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 214 67% 9%; /* #081727 */
    --foreground: 0 0% 98%;

    --card: 214 60% 12%;
    --card-foreground: 0 0% 98%;

    --popover: 214 60% 12%;
    --popover-foreground: 0 0% 98%;

    --primary: 210 100% 85%;
    --primary-foreground: 214 67% 9%;

    --secondary: 214 50% 16%;
    --secondary-foreground: 0 0% 98%;

    --muted: 214 50% 16%;
    --muted-foreground: 215 20% 65%;

    --accent: 214 50% 20%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;

    --border: 214 50% 18%;
    --input: 214 50% 18%;
    --ring: 210 100% 85%;
    --sidebar-background: 214 65% 7%;
    --sidebar-foreground: 214 20% 96%;

    --sidebar-primary: 214 80% 50%;
    --sidebar-primary-foreground: 0 0% 100%;

    --sidebar-accent: 214 40% 14%;
    --sidebar-accent-foreground: 214 20% 96%;

    --sidebar-border: 214 40% 12%;
    --sidebar-ring: 214 80% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html,
  body {
    @apply h-full w-full;
  }
  body {
    @apply bg-background text-foreground;
  }
}
